<app-burger class="margin-right" (event)="handleMenu($event)"></app-burger>
<header [ngClass]="{'open':open}" class="navbar">
  <div class="title">
    <h1>{{ site_title }}</h1>
  </div>
  <nav>
    <ul class="menu">
      <li>
        <a routerLink="/" [ngClass]="{'current': currentRoute == '/' || currentRoute == '/home'}">Home</a>
      </li>
      <li>
        <a routerLink="/about-us" [ngClass]="{'current': currentRoute == '/about-us'}">About us</a>
      </li>
      <li>
        <a routerLink="/users" [ngClass]="{'current': currentRoute == '/users'}">Users</a>
      </li>
    </ul>
  </nav>
</header>
