<nav>
  <div class="title">
    <app-burger class="margin-right" (event)="handleMenu($event)"></app-burger>

    <h1>{{ site_title }}</h1>
  </div>

  <ul [ngClass]="{'menu--open':open}" class="menu">
    <li>
      <a routerLink="/" [ngClass]="{'currentRoute': currentRoute == '/' || currentRoute == '/home'}">Home</a>
      <a routerLink="/about-us" [ngClass]="{'currentRoute': currentRoute == '/about-us'}">About us</a>
      <a routerLink="/users" [ngClass]="{'currentRoute': currentRoute == '/users'}">Users</a>
    </li>
  </ul>
</nav>
