.burger-btn {
  position: relative;
  display: block;
  width: 25px;
  height: 20px;

  > span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: .25rem;
    transition: .3s ease;

    &:nth-child(1) { top: 0; }
    &:nth-child(2) { top: calc(50% - 1px); }
    &:nth-child(3) { top: calc(100% - 2px); }
  }

  &.item--clicked > span {
    &:nth-child(1) { transform: rotate(40deg); top: 10px; }
    &:nth-child(2) { left: 100%; opacity: 0; }
    &:nth-child(3) { transform: rotate(-40deg); top: calc(100% - 10px); }
  }
}
